.banner{
    height: 600px;
    background-repeat: no-repeat;
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('../../../assets/img/banner.jpg');
    background-position: center;
    background-size: cover;
}
.banner h1{
    color: #fff;
    font-size: 60px;
    font-weight: bold;
}
.banner_content{
    top: 30%;
    left: 20%;
    position: absolute;

    a{
        background-color: #fff;
        color: var(--primary-color);
        padding: 15px 20px;
        font-weight: bold;
        border-radius: 5px;
    }
    a:hover{
            background-color: var(--primary-color);
            color: #fff;
    }
}

a{
    text-decoration: none;
}

.stepBox{
    background-color: #000;
    padding: 20px 20px;
    border-radius: 5px;
    text-align: center;

    h3{
        font-size: 50px;
        font-weight: bold;
        color: var(--primary-color);
    }

    p{
        font-size: 20px;
        color: #fff;
    }
}

.foodbox{
    padding: 10px 5px;

    img{
        width: 100%;
        height: 250px;
        object-fit: cover;
        border-radius: 5px;
    }

    h1{
        font-size: 18px;
        margin-top: 20px;
    }
}
.viewmorebtn{
    background-color: var(--primary-color);
    color: #000;
    padding: 5px 10px;
    border-radius: 5px;
    border-style: none;
}